<% if item.name %>
  <li id="item-<%= item.id %>">
    <span class="content"><%= item.name %>
    <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    </span>
    <span class="timestamp">
      <%= pluralize(item.days_left, 'day')%> left to complete this task.
      <% if current_user?(item.user) %>
        <%= link_to " | delete now", [item], method: :delete, remote: true, data: { confirm: "Are you sure?"} %>
      <% end %>
    </span>
  </li>
<% end %>  